<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="sign_up_style.css">
</head>
<body>

<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <!-- Get picture from user database -->
        <%= image_tag("user_avatar.png") %>
      </div>

      <div class="col-12">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <!-- Enter E-Mail Textfield -->
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-Mail" %>
          </div>

          <!-- Enter Password Textfield -->
          <div class="form-group" id="password-field">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
          </div>

          <!-- Password Confirmation -->
          <div class="form-group" id="password-conf-field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
          </div>

          <!-- Submit Button -->
          <div class="btn">
            <%= f.submit "Sign up", class: 'btn btn-rounded'%>
          </div>

          </div>

          <!-- Already signed up? -->
          <div class="col-12 forgot">
            <%= link_to 'Already signed up?', new_user_session_path%>
          </div>

        <% end %>

        </div> <!-- End of Modal Content -->
  </div>
</div>



<%= render "devise/shared/links" %>
</body>
</html>
