
<% if user_signed_in? %>

<div class="form-group">
  <div class="shadow-sm p-3 mb-5 bg-white rounded"  id="chat-form">

    <div id="chat-form"></div>
    <div id="message_holder"></div>

    <%= form_for @message, remote: true do |f| %>
      <%= f.text_field :content, class:'shadow-sm p-3 mb-5 bg-white rounded' %>
      <%= f.submit "Send", class: 'btn btn-secondary' %>
    <% end %>

    <div id="chat-hint">Your connected to the public Chatroom. You can start to chat now.
      <%= ActionCable.server.connections.length %> students are connected.
    </div>

  </div>

</div>
</div>

<% else %>

  <%= link_to 'Login first!', new_user_session_path, :class => 'nav-link' %>

<% end %>
