<%= simple_form_for @product, html: {multipart: true} do |f| %>
  <%= f.error_notification %>


  <div id="formRow" class="row justify-content-center">
    <div class="col-4">
      <div class="control">
        <%= f.input :title, required: true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>
    <div class="col-4">
      <div class="control">
        <%= f.input :price, required: true, input_html: {class: "input", maxlength: 7}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>
  </div>



  <div class="row justify-content-center">
    <div class="col-2">
      <div class="control">
        <%= f.button :submit, class: 'button is-warning' %>
        <%= link_to 'Cancel', shop_path, class: 'button is-light' %>
      </div>
    </div>
  </div>

<% end %>

