<div class="card">
  <div class="profilepic">
  <%= image_tag user_avatar(current_user, 100), class: "rounded" %></div>

  <div class="card-body">
    <h5 class="card-title"><%= current_user.name %> <%= current_user.surname %></h5>
    <p class="card-text"><%= current_user.bio %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= current_user.email %></li>
    <li class="list-group-item"><%= current_user.subject %></li>
    <li class="list-group-item"><%= current_user.points %> Karma Points</li>
  </ul>
  <div class="card-body" id="edit_profile_card">
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'profile-edit-btn', :name => "btnAddMore", :type => "" %>
  </div>
</div>

